.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.portfolio span:nth-of-type(1){
    color: var(--black);
    font-size: 1.8rem;
    font-weight: bold;
}
.portfolio span:nth-of-type(2){
    color: var(--orange);
    font-size: 2.2rem;
    font-weight: bold;
}
.portfolio .swiper{
    overflow: visible !important;
}
.portfolio-slider{
    margin-top: 3rem;
    width: 100%;
}
.portfolio-slider .swiper-slide{
    width: 20rem;
}
.portfolio img{
    width: 20rem;
    height: 230px;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
}
/* .site a i{
    padding: 5px;
    color: black;
    border: 1px solid black;
    background: white;
    transition: 0.8s ease;
    border-radius: 50%;
}
.site a i:hover{
    transform: scale(1.05);
} */
