.contact{
    margin-bottom: 80px;
    padding-bottom: 50px;
    padding-top: 100px;
}
.contact span:nth-of-type(1){
    color: var(--black);
    font-size: 1.8rem;
    font-weight: bold;
}
.contact span:nth-of-type(2){
    color: var(--orange);
    font-size: 2.2rem;
    font-weight: bold;
}
.contact input, button{
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
    box-shadow: var(--smboxShadow);
}
.message{
    height: 4rem !important;
}
.wt-wrapper{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wt{
    color: rgb(12, 172, 12);
    font-size: 2rem;
    transition: 0.8s ease;
}
.wt:hover{
    transform: scale(1.2);
}
.wt-text{
    color: white !important;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-left: 50px !important;
}